html,
body {
  font-family: 'Arial', sans-serf;
  font-size: 16px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 22px;
}

.wall {
  margin-top: 20px;
  width: 80%;
}

.brick {
  min-height: 200px;
  line-height: 200px;
}

.brick span {
  display: block;
  font-size: 32px;
  text-align: center;
}

.red {
  background-color: #e74c3c;
  color: #fff;
}

.yellow {
  background-color: #f1c40f;
  color: #000;
}

.blue {
  background-color: #3498db;
  color: #fff;
}

.green {
  background-color: #2ecc71;
  color: #fff;
}

.purple {
  background-color: #9b59b6;
  color: #fff;
}

.grey {
  background-color: #ecf0f1;
  color: #000;
}

.inner {
  font-size: 1em;
  line-height: 1.25em;
  padding: 0 10px;  
}

.content {
  border-left: 5px solid #eee;
  padding-left: 5px;
}

.fixed-example {
  width: 300px;
}
