html,
body {
  font-family: 'Sanchez', serif;
  font-size: 16px;
  color: #333;
}

h1 {
  text-align: center;
  font-size: 32px;
}

h2 {
  font-size: 22px;
}

pre,
xmp {
  padding: 16px 0;
  color: #666;
  background: #eee;
  margin-top: 1em;
  margin-bottom: 1em;
}

.wall {
  margin-top: 20px;
  width: 80%;
}

xmp {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  overflow-x: scroll;
}

.brick span {
  display: block;
  font-size: 32px;
  text-align: center;
  line-height: 200px;
  min-height: 200px;
}

.red {
  background-color: #e74c3c;
  color: #fff;
}

.yellow {
  background-color: #f1c40f;
  color: #000;
}

.blue {
  background-color: #3498db;
  color: #fff;
}

.green {
  background-color: #2ecc71;
  color: #fff;
}

.purple {
  background-color: #9b59b6;
  color: #fff;
}

.grey {
  background-color: #ecf0f1;
  color: #000;
}

.inner {
  font-size: 1em;
  line-height: 1.25em;
  padding: 0 10px;  
}

.content {
  border-left: 5px solid #eee;
  padding-left: 5px;
}

.fixed-example {
  width: 300px;
}

@media screen 
  and (min-width: 0px) 
  and (max-width: 800px) {

  xmp {
    width: 100%;
  }
  
}