@import 'vars';
@import 'mixins';

// Container

.wall {
  display: block;
  position: relative;
  margin: 0 auto;
  
  -webkit-transition: width $transition-fast;
  -moz-transition: width $transition-fast;
  transition: width $transition-fast;
  
  @include border-box();
}

// Bricks (Grid)

.wall {
  .brick {
    position: relative;
    float: left;
    zoom: 1;

    @include border-box();
  }
}

.wall {
  .brick.col-2 {
    width: 50%;
  }
}

.wall {
  .brick.col-3 {
    width: 33.33%;          // For older browsers
    width: calc(100% / 3);  // Modern
  }
}

.wall {
  .brick.col-4 {
    width: 25%;
  }
}

.wall {
  .brick.col-5 {
    width: 20%;
  }
}

.wall {
  .brick.col-6 {
    width: 16.66%;          // For older browsers
    width: calc(100% / 6);  // Modern
  }
}

@import 'queries';