@mixin transition($prop, $speed) {
  -webkit-transition: $prop $speed;
  -moz-transition: $prop $speed;
  transition: $prop $speed;
}

@mixin border-box() {    
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}

@mixin cancel-float() {
  display: block !important;
  float: none !important;
  width: 100% !important;
}

