@import 'mixins';

/* ----------- Standard (non-retina) Displays ----------- */

@media screen 
  and (min-width: 0px) 
  and (max-width: 800px) {

  .wall {
    width: 100% !important;
    .brick {
      @include cancel-float();
    }
  }
  
}

/* ----------- Retina Displays ----------- */

// @media  
//   (-webkit-min-device-pixel-ratio: 2)
//   and (min-resolution: 192dpi)
//   and (min-width: 0px)
//   and (max-width: 600px) {
  
//   .wall {
//     width: 100% !important;
//     .brick {
//       @include cancel-float();
//     }
//   }
  
// }

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  
  .wall {
    width: 100% !important;
    .brick {
      @include cancel-float();
    }
  }
  
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  
  .wall {
    width: 100% !important;
    .brick {
      @include cancel-float();
    }
  }
  
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  
  .wall {
    width: 100% !important;
    .brick {
      @include cancel-float();
    }
  }
  
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
  .wall {
    width: 100% !important;
    .brick {
      @include cancel-float();
    }
  }
  
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  
  .wall {
    width: 100% !important;
    .brick {
      @include cancel-float();
    }
  }
  
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  .wall {
    width: 100% !important;
    .brick {
      @include cancel-float();
    }
  }
  
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  
  .wall {
    width: 100% !important;
    .brick {
      @include cancel-float();
    }
  }
  
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  
  .wall {
    width: 100% !important;
    .brick {
      @include cancel-float();
    }
  }
  
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
  
  .wall {
    width: 100% !important;
    .brick {
      @include cancel-float();
    }
  }
  
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  
  .wall {
    .brick {
      @include cancel-float();
    }
  }
  
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
  
  .wall {
    width: 100% !important;
    .brick {
      @include cancel-float();
    }
  }
  
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
  
  .wall {
    width: 100% !important;
    .brick {
      @include cancel-float();
    }
  }
  
}